<!DOCTYPE html>
<html class="ng-scope">
<head>
    <link rel="icon" href="./Images/Mlogo9.jpg">
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Audiowide|Changa|Cinzel|Cormorant+SC|David+Libre|Lato|Old+Standard+TT|Oswald|Quicksand|Raleway|Roboto+Condensed|Trirong|Vidaloka" rel="stylesheet">
	<title>Murphy Web Design</title>
    
</head>

<body>    

<div id="index" style="height: 100vh;">
    
    <div class="heading">
        
        
        <div class="navbar" style="float: left; position: fixed; font-family: Quicksand, Georgia;">
            
              <ul class="project-list">
                  <a href="index.html"><img src="./Images/Mlogo11.png" height=90px; width=90px;/></a>
                  
                  <li id="projects" ng-class="{selected: main.activeProject !== 'about' &amp;&amp; main.activeProject !== 'contact'}" ng-click="main.scrollTo('about')" class="selected"><a href="#index"><p style="font-size: 24px; margin-bottom: 8%; color: #660066;"><b>Murphy Web Designs</b></p></a></li>
                  
                  <li ng-repeat="(project, details) in main.projects" id="a" class="sub-li ng-binding ng-scope selected" ng-if="main.isProject(project);" ng-class="{selected: main.activeProject === project}" ng-click="main.scrollTo(project)" style=""><p><b><a href="#about">Jenna Murphy</a></b></p></li>
                    <!-- ngRepeat: (project, details) in main.projects -->
                    <!-- ngIf: main.isProject(project); -->
                    <!-- end ngRepeat: (project, details) in main.projects -->
                    <!-- ngIf: main.isProject(project); -->
                  <li ng-repeat="(project, details) in main.projects" id="p" class="sub-li ng-binding ng-scope selected" ng-if="main.isProject(project);" ng-class="{selected: main.activeProject === project}" ng-click="main.scrollTo(project)" style=""><p><b><a href="#portfolio">Portfolio</a></b></p></li>
                    <!-- ngRepeat: (project, details) in main.projects -->
                    <!-- ngIf: main.isProject(project); -->
                    <!-- end ngRepeat: (project, details) in main.projects -->
                    <!-- ngIf: main.isProject(project); -->
                  <li ng-repeat="(project, details) in main.projects" id="c" class="sub-li ng-binding ng-scope selected" ng-if="main.isProject(project);" ng-class="{selected: main.activeProject === project}" ng-click="main.scrollTo(project)" style=""><p><b><a href="#contact">Contact</a></b></p></li>
                    <!-- ngRepeat: (project, details) in main.projects -->
                    <!-- ngIf: main.isProject(project); -->
                    <!-- end ngRepeat: (project, details) in main.projects -->
                    <!-- ngIf: main.isProject(project); -->
              
                </ul>
        
        </div>
        
        
        
        
        
        
        <div class="centre">
            
            <p style="font-family: Cormorant+SC; color: purple;"><b>P &#8226; O &#8226; P</b></p>
        
        
            <div class="logo">
                <img src="./Images/Mlogo12.jpg" height=250px width=250px;/>
            </div>
        
        
            <h2 style="color: white;">Producing &#8226; Outstanding &#8226; Projects</h2>
            <h3 style="color: white;">Express your business</h3>
        
        
        </div>

        
        
    
        
        
    </div>
</div>
    
    


    

     

    
<div id="about" style="height: 100vh; padding-top: 100px; background-color: white;">
    
    <div class="bar" style="z-index: -1000; height: 6%;"></div>
    
    
    <div class="top">
        
        <p><b>A little bit about me...</b></p>
        
        <div class="about">
        
            <p><b>I am a third year Applied Mathematics Engineering student at Queen's Univeristy with a specialty of Computing and Communications. My strengths are in HTML and CSS with some additional experience in JavaScript and JQuery. I have a passion for developing and designing websites for any number of businesses and other services. <a href="#contact">Contact me</a> for any additional information or questions about my work.</b></p>
    
        </div>
        
    </div>
      
    
    
    <div class="home" style="width: 233px; right: 22px; top: 975px;">
        <p>
        <a href="index.html">
        <span style="vertical-align: middle; font-size: 25px;">Jenna Murphy</span>
        <img src="./Images/Mlogo12.jpg" style="vertical-align: middle;"/>
        </a>
        </p>
    
    </div>
           
</div>
   
    
  
    
 
    
    
        
<div id="portfolio" style="height: 100vh; padding-top: 100px; margin-top: 0;">
    
    <div class="bar" style="z-index: -1000; height: 6%;"></div>
    
    <div class="heading3">
        
    
    
    </div>
    
    <div class="top">
        
        <p><b><span>Check out some websites I have created for local business, organizations and retailers</span></b></p> 
        
    </div>
        
    
    <div class="web" style="margin-top: 50px;">
        
        <p><b><a href="http://www.britanniaconstruction.ca" target="_blank">Britannia Construction</a></b></p>
        <p><b><a href="http://www.thebedfund.ca" target="_blank">Queen's University BED Fund</a></b></p>
        <p><b><a href="http://cooperelectrical.ca" target="_blank">Electrictian Guy</a></b></p>
      

    </div>
    
    

    
    
    <div class="home" style="width: 160px; right: 22px; top: 1690px;">
        <p>
        <a href="index.html">
        <span style="vertical-align: middle; font-size: 25px;">Portfolio</span>
        <img src="./Images/Mlogo12.jpg" style="vertical-align: middle;"/>
        </a>
        </p>
    
    </div>

    
</div>    
    
    
  
    
   
    
    
    
<div id="contact" style="height: 100vh; padding-top: 100px; background-color: white;">
    
    <div class="bar" style="z-index: -1000; height: 6%;"></div>
    
    <div class="heading4">
        
        
    
    </div>
        
    <div class="top">
        <p><b><span>For more information, contact me</span></b></p>
    </div>
    
        
    <div class="contact">
        <h2><a href="http://ca.linkedin.com/in/jenna-murphy-a02854bb" target="_blank">LinkedIn</a></h2>
        <h2><a href="mailto:jenna.b.murphy@gmail.com" target="_blank">Email</a></h2>
        
    </div>
    
    
    

    <div class="home" style="width: 185px; right: 22px; top: 2525px;">
        <p>
        <a href="index.html">
        <span style="vertical-align: middle; font-size: 25px;">Reach Out</span>
        <img src="./Images/Mlogo12.jpg" style="vertical-align: middle;"/>
        </a>
        </p>
    
    </div> 
    
</div>
    
    
  
   
</body>
</html>